@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  );
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fixed {
  position: fixed;
}

.top-10 {
  top: 10px;
}

.transform {
  transform: translateX(-50%);
}

.max-w-md {
  max-width: 28rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.bg-white {
  background-color: white;
}

.p-6 {
  padding: 1.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.z-50 {
  z-index: 50;
}

.mt-4 {
  margin-top: 1rem;
}

.max-h-40 {
  max-height: 10rem;
}

.overflow-y-auto {
  overflow-y: auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../public/images/page-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.search-box-container,
.property-list-container {
  width: 100%;
  max-width: 1200px;
}

.search-box-container {
  padding: 16px;
}

.property-list-container {
  margin-top: 150px;
  padding: 16px;
  background-image: url('../../public/images/property-list-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.hover\:shadow-xl:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.banner-text {
  margin-inline: -35px
}
